<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待付款</title>
    <link rel="stylesheet" href="../../../../static/css/pendingPayment.css">
    <link rel="stylesheet" href="../../../../static/css/allOrder.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../../static/css/noSuchCommodity.css">
    <script src="../../static/layui/layui.all.js"></script>


</head>
<body>
<div class="content">
    <div class="table">
        <div class="table-head">
            <div class="div1">宝贝</div>
            <div class="div2">单价</div>
            <div class="div3">数量</div>
            <div class="div4">商品操作</div>
            <div class="div4">实付款</div>
            <div class="div4">交易状态</div>
            <div class="div4">交易操作</div>
        </div>
        <div class="table-body">
        </div>
    </div>
</div>
</body>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/jquery-1.12.2.js"></script>
<script src="../../../../static/js/pendingPayment.js"></script>
</html>