<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户设置</title>
    <link rel="stylesheet" href="../../static/css/accountSettings.css">
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" rel="external nofollow" />
	<link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../../static/css/public.css">
    <script src="../../static/layui/layui.all.js"></script>
</head>
<body>
    <div class="content">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>账号管理</legend>
        </fieldset>
        <nav>
            <ul>
                <li>安全设置</li>
                <li>个人资料</li>
                <li>收货地址</li>
            </ul>
        </nav>
        <div class="security-settig select-content">
            <p>您的安全设置</p>
            <div>
                <div class="one">
                    <div class="left">会员名</div>
                    <div class="right">帅气的布里茨</div>
                </div>
                <div class="one">
                    <div class="left">登 录 邮 箱：</div>
                    <div class="right">您尚未设置登录邮箱</div>
                    <div class="add selection-text">添加邮箱</div>
                    <div class="modify selection-text">修改邮箱</div>
                </div>
                <div class="one">
                    <div class="left">绑 定 手 机：</div>
                    <div class="right">15006732580</div>
                    <div class="modify selection-text">修改手机</div>
                </div>
            </div>
        </div>
        <div class="personal-data select-content">

        </div>
        <div class="receiving-address select-content">

        </div>
    </div>
</body>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/jquery-1.12.2.js"></script>
</html>