<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phy.ebuy.dao.EbuyMapper">

    <!--验证登录-->
    <select id="verifyLogin" parameterType="map" resultType="map" >
        select * from ebuy_user where (user_name = #{userName}  and pass_word = #{passWord})
        or (mobile = #{userName} and pass_word = #{passWord})
    </select>

    <!--注册提交-->
    <insert id="registerSub" parameterType="map">
        INSERT INTO ebuy_user
        VALUES
            (
            ( SELECT RIGHT ( RAND( ), 16 ) ),
            #{userName},
            #{passWord},
            '',
            '',
            '',
            #{mobile},
            '',
            '00',
            now( ),
            '',
            '00',
            '0',
            ( SELECT RIGHT ( RAND( ), 16 ) )
            );
    </insert>

    <!--获取所有订单-->
    <select id="allOrderTable" resultType="map" parameterType="String">
    SELECT

	o.creat_time creat_time,
	o.order_id order_id,
	o.business_id business_id,
	b.business_name business_name,
    c.commodity_type commodity_type,
    c.commodity_type_details commodity_type_details,
	c.commodity_photo commodity_photo,
	c.commodity_name commodity_name,
	o.commodity_attribute commodity_attribute,
	c.commodity_price commodity_price,
	o.commodity_amount commodity_amount,
	o.order_status order_status
FROM
	ebuy_order o
	INNER JOIN ebuy_business b ON o.business_id = b.business_id
	INNER JOIN ebuy_commodity c ON o.commodity_id = c.commodity_id
        where 1 = 1
        <if test="orderStatus != null and orderStatus != ''">
          and  order_status=#{orderStatus}
        </if>
    </select>

    <!--查询字典表-->
    <select id="queryDictionary" resultType="map">
        SELECT
	*
FROM
	ebuy_dictionaries
WHERE
	id IN
        <foreach collection="array" open="(" separator="," close=")" item="id">
        #{id}
    </foreach>
    </select>

    <!--获取商品分类-->
    <select id="typeDown" resultType="string" parameterType="string">
        SELECT
	type_down_details
FROM
	ebuy_dictionaries
WHERE
	type_down = #{typeDown}
    </select>

    <!--获取购物车-->
    <select id="getCartInfo" parameterType="string" resultType="map">
      SELECT
ca.business_id business_id,
b.business_name business_name,
ca.commodity_id commodity_id,
co.commodity_type commodity_type,
co.commodity_type_details commodity_type_details,
co.commodity_photo commodity_photo,
co.commodity_name commodity_name,
ca.commodity_attribute commodity_attribute,
co.commodity_price commodity_price,
ca.commodity_amount commodity_amount,
co.commodity_amount commodity_amountall
from
ebuy_cart ca inner join ebuy_commodity co
on ca.commodity_id = co.commodity_id
inner join ebuy_business b
on ca.business_id = b.business_id
where
user_id = #{userId}

    </select>

    <!--获取商品列表-->
    <select id="commodityInfo" parameterType="string" resultType="map">
        SELECT
c.business_id business_id,
b.business_name business_name,
c.commodity_id commodity_id,
c.commodity_photo commodity_photo,
c.commodity_type commodity_type,
c.commodity_type_details commodity_type_details,
c.commodity_name commodity_name,
ca.commodity_attribute commodity_attribute,
c.commodity_price commodity_price,
c.commodity_amount commodity_amount,
c.commodity_describe commodity_describe,
c.paid_number paid_number,
b.business_address business_address
from
ebuy_commodity c inner join ebuy_business b on c.business_id = b.business_id
inner join ebuy_commodity_attribute ca on c.commodity_id = ca.commodity_id
        where
        1=1
        <if test="keyword!=null and keyword!=''">
            and c.commodity_name like concat('%',#{keyword},'%')
        </if>
        ORDER BY
        c.commodity_type ,c.commodity_type_details
    </select>

    <!--查询状态订单数量-->
    <select id="orderNumber" resultType="map" parameterType="string">
        select order_status,count(*) number from ebuy_order _status where user_id = #{userId} GROUP BY order_status
    </select>
</mapper>