*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    overflow: hidden;
}
.head{
    user-select: none;
    background: rgb(245,245,245);
    /*flex: 1;*/
    width: 100%;
    height: 3em;
}
.head .content{

    width: 65%;
    height: 100%;
    margin: 0 auto;
}
.head .content .not-login-information{

    line-height: 3em;
}
.head .content .not-login-information .login-text{
    float: left;
}
.head .content .not-login-information .login-text a{
    color: rgb(23,181,254);
    cursor: pointer;
}
.head .content .not-login-information .register-text{
    margin-left: 2em;
    float: left;
    cursor: pointer;
}
.head .content .not-login-information .register-text :hover{
    color: rgb(23,181,254);
}
.head .content .login-information{
    display: none;
    line-height: 3em;
}
.head .content .login-information :hover{
    background: white;

}
.head .content .login-information .login-text :hover{
    color: rgb(23,181,254);
}
.head .content .login-information .login-text{
    float: left;
}
.head .content .login-information .login-text .login-text-username{
    cursor: pointer;
}
.head .content .login-information .login-text #icon1{
    cursor: pointer;
    color: rgb(23,181,254);
}
.head .content .login-information .login-text .personInfo{
    display: none;
    background: #fff;
    width: 240px;
    height: 160px;
    position: absolute;
    padding: 1em;
    top: 3em;
    border: 1px solid rgb(238,238,238);
}
.head .content .login-information .login-text .personInfo .function{
    color: black;
}
.head .content .login-information .login-text .personInfo .function :hover{
    color: rgb(23,181,254);
}
.head .content .login-information .login-text .personInfo .function .account-management{
    margin-right: 2em;
    cursor: pointer;
}
.head .content .login-information .login-text .personInfo .function .sign-out{
    cursor: pointer;
}
.head .content .login-information .login-text .personInfo .info{
    margin-top: -0.6em;
}
.head .content .login-information .login-text .personInfo .info :hover{
    color: black;
}
.head .content .login-information .login-text .personInfo .info .head-portrait{
    height: 3em;
    width: 3em;
    background: url("../img/E.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 80% 80%;
    background-position: center;
    margin-top: 5em;
    margin-left: 2em;
    cursor: pointer;
}
.head .content .login-information .login-text .personInfo .info .grade{
    color: black;
    float: right;
    margin-top: -3.4em;
    margin-right: 3em;
}
.head .content .login-information .login-text .personInfo .info .grade .ebuy-grade{
    height: 2em;
    line-height: 2em;
}
.head .content .login-information .login-text .personInfo .info .grade .membership-level{
    height: 2em;
    line-height: 2em;
}
.head .content .login-information .login-text .personInfo .info .more-equity{
    text-align: center;
    border: 1px solid rgb(129,190,255);
    background: rgb(220,238,252);
    padding: 4px 0;
    height: 1em;
    line-height: 1em;
    margin-top: 1.6em;
    color: black;
    cursor: pointer;
}
.head .content .login-information .news{
    float: left;
}
.head .content .login-information .news span{
    cursor: pointer;
}
.head .content .login-information .news #icon2{
    color: rgb(23,181,254);
}
.head .content .login-information .news :hover{
    color: rgb(23,181,254);
}
.head .content .login-information .news .news-number{
    color: rgb(23,181,254);
}
.head .content .login-information .news .news-photo{
    background: url("../img/news.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 80% 80%;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-top: 0.76em;
    margin-left: 2em;
}
.head .content .login-information .news .news-content{
    display: none;
    background: #fff;
    width: 240px;
    height: 160px;
    position: absolute;
    padding: 1em;
    top: 3em;
    border: 1px solid rgb(238,238,238);
    overflow: auto;
    color: black;
}
.head .content .login-information .news .news-content :hover{
    color: rgb(23,181,254);
}
.head .content .login-information .news .news-content .one-news{
    cursor: pointer;
}
.head .content .goHomepage{
    margin-left: 3em;
    line-height: 3em;
    float: left;
    cursor: pointer;
}
.head .content .goHomepage:hover{
    color:rgb(23,181,254);
}
.head .content .function{
    display: flex;
    float: right;
    line-height: 3em;

}
.head .content .function :hover{
    color: rgb(23,181,254);
    background: white;
}
.head .content .function .cart{
    padding: 0 1em;
    cursor: pointer;
}
.head .content .function .cart .cart-photo{
    float: left;
    height: 2em;
    width: 2em;
    background: url("../img/cart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 80% 80%;
    background-position: center;
    margin-top: 0.32em;
}
.head .content .function .cart .cart-number{
    color: rgb(23,181,254);
}
.head .content .function .cart .cart-content{
    display: none;
    background: #fff;
    width: 240px;
    height: 340px;
    position: absolute;
    padding: 1em;
    top: 3em;
    cursor: auto;
    border: 1px solid rgb(238,238,238);
    color: black;
    font-weight: bold;
    overflow: auto;
    margin-left: -1em;
}
.head .content .function .cart .cart-content span{
    color: black;
}
.head .content .function .cart .cart-content .commodity .one-commodity{
    height: 3em;
    font-weight: normal;
    display: flex;
    color: black;
    margin-top: 1em
}
.head .content .function .cart .cart-content .commodity .one-commodity .commodity-photo{
    flex:1;
    background:url("../img/chufang01.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    width: 3em;
    cursor: pointer;
}
.head .content .function .cart .cart-content .commodity .one-commodity .commodity-name{
    flex: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -0.8em;
    margin-left: 0.5em;
    cursor: pointer;
}
.head .content .function .cart .cart-content .commodity .one-commodity .price-delete{
    flex:1;
}
.head .content .function .cart .cart-content .commodity .one-commodity .price-delete .commodity-price{
    color: rgb(23,181,254);
    font-weight: bold;
    height: 1em;
    margin-top: -0.8em;
}
.head .content .function .cart .cart-content .commodity .one-commodity .price-delete .commodity-delete{
    margin-top: 0.5em;
    float: right;
    cursor: pointer;
}
.head .content .function .cart .cart-content .cart-bottom-text{
    float: right;
}
.head .content .function .cart .cart-content .cart-but{
    color: white;
    background: rgb(80,206,194);
    border: 0;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    font-weight: normal;
    border-radius: 2px;
    cursor: pointer;
    zoom: 1;
    height: 1.8em;
    line-height: 1.8em;
    float: right;
}
.head .content .function .collection{
    padding: 0 1em;
    cursor: pointer;
}
.head .content .function .set-up-shop{
    padding: 0 1em;
    cursor: pointer;
}
.head .content .function .business{
    display: none;
    padding: 0 1em;
    cursor: pointer;
}
.head .content .function .shop-photo{
    float: left;
    height: 2em;
    width: 2em;
    background: url("../img/shop.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    -moz-background-size:  50% 50%;
    background-position: center;
    margin-top: 0.4em;
    color: rgb(23,181,254);
}
.head .content .function .service{
    padding: 0 1em;
    cursor: pointer;
}
.head .content .function .service .service-photo{
    float: left;
    height: 2em;
    width: 2em;
    background: url("../img/service.png");
    background-repeat: no-repeat;
    background-size:  60% 60%;
    -moz-background-size:  60% 60%;
    background-position: center;
    margin-top: 0.5em;
    color: rgb(23,181,254);
}
#icon3{
    color: rgb(23,181,254);
}
#icon4{
    color: rgb(23,181,254);
}
#icon5{
     color: rgb(23,181,254);
}
#icon6{
    color: rgb(23,181,254);
}
.middle{
    background: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    flex: 18;
    display: flex;
    overflow: auto;
}
.middle .box{
    width: 65%;
    background: white;
    margin: 0 auto;
}
.middle .box .search{
    display: flex;
    height: 12.5em;
    width: 100%;
}
.middle .box .search .search-log{
    flex: 1;
    height: 100%;
}
.middle .box .search .search-log .log{
    background: url(../img/ebuy-logo.png);
    background-repeat: no-repeat;
    background-size: 100% 75%;
    -moz-background-size: 80% 80%;
    background-position: 7px 23px;
    height: 90%;
    width: 100%;
    cursor: pointer;
}
.middle .box .search .search-box{
    flex: 4;
    height: 100%;
}
.middle .box .search .search-box .search-box-box{
    width: 95%;
    margin: auto;
    margin-top: 4.5em;
    height: 3.26em;
    border: 2px solid rgb(23,181,254);
    border-radius: 20px;
    background: rgb(23,181,254);
}
.middle .box .search .search-box .search-box-box .search-box-input{
    width: 85%;
    float: left;
    height: 2.5em;
    border: 0;
    margin-left: 1em;
    margin-top: 0.4em;
    text-indent: 10px;
}
.middle .box .search .search-box .search-box-box .search-text{
    width: 10%;
    float: left;
    height: 3em;
    line-height: 2.8em;
    color: white;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.2em;
    cursor: pointer;
    letter-spacing: 10px;
}
.middle .box .search .search-blank{
    flex: 1;
    height: 100%;
}
.middle .box .strip{
    height: 40px;
    width: 100%;
    background: rgb(23,181,254);
    display: flex;
}
.middle .box .strip .left{
    height: 100%;
    width: 18.34%;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    background: rgb(0,120,215);
}
.middle .box .strip .right{

}
.middle .box .navigation-carousel-person{
    width: 100%;
    height: 500px;
    display: flex;
}
.middle .box .navigation-carousel-person .navigation{
    flex: 1;
    border: 1px solid rgb(130,200,250);
}
.middle .box .navigation-carousel-person .navigation ul{
    height: 100%;

}
.middle .box .navigation-carousel-person .navigation ul :hover{
    color: rgb(23,181,254);
    background: rgb(222,238,253);
}
.middle .box .navigation-carousel-person .navigation ul :hover a{
    color: rgb(23,181,254);
    background: rgb(222,238,253);
}
.middle .box .navigation-carousel-person .navigation ul li{
    list-style: none;
    height: 10%;
    line-height: 50px;
    padding: 0 2em;
}
.middle .box .navigation-carousel-person .navigation ul li :hover{
    text-decoration: underline;
}
.middle .box .navigation-carousel-person .navigation ul li .layui-icon{
    position: absolute;
    text-decoration: none;
    left: 28%;
}
.middle .box .navigation-carousel-person .carousel .li-content{
    display: none;
    border: 2px solid rgb(130,200,250);
    color: black;
    text-decoration: none;
    background: white;
    padding: 1em;
    /*width: 100%;*/
    height: 93.8%;
    transform: translateY(-100%);
}
.middle .box .navigation-carousel-person .carousel .li-content :hover{
    color: black;
    text-decoration: none;
    background: white;
}
.middle .box .navigation-carousel-person .carousel .li-content .three-type{
    height: 100%;
    width: 58%;
    border-right: 1px solid rgb(224,224,224) ;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    float: left;
}
.middle .box .navigation-carousel-person .carousel .li-content .three-type .type-1{
    flex: 1;
}
.middle .box .navigation-carousel-person .carousel .li-content .three-type .type-1 .title{
    font-weight: bold;
    height: 2em;
    font-size: 1.2em;
    line-height: 2em;
}
.middle .box .navigation-carousel-person .carousel .li-content .three-type .type-1 .title :hover{
    color: rgb(23,181,254);
    cursor: pointer;
}
.middle .box .navigation-carousel-person .carousel .li-content .three-type .type-1 .title .more{
    font-size: 0.9em;
    font-weight: normal;
    float: right;
}
.middle .box .navigation-carousel-person .carousel .li-content .three-type .type-1 .type-content{
    font-size: 0.9em;
    margin-top: 0.5em;
}
.middle .box .navigation-carousel-person .carousel .li-content .three-type .type-1 .type-content :hover{
     cursor: pointer;
}

.middle .box .navigation-carousel-person .carousel .li-content .three-type .type-1 .type-content span{
    display: inline-block;
    margin: 0.4em 1em 0 0;
    white-space:nowrap;
    font-size: 0.9em;

}
.middle .box .navigation-carousel-person .carousel .li-content .you-like{
    height: 100%;
    width: 37%;
    float: right;
    text-align: center;
    margin-right: -0.4em;
}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo{
    display: flex;
    width: 100%;
    height: 89%;
    flex-flow: row wrap;

}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one{
    flex: 1 40%;

}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one :hover{

}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one:nth-child(2n){
    margin-left: 10px;
}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one:nth-child(n+3){
    margin-top: 10px;
}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one .photo-1{
    background: url(../img/commodity/test.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 6.5em;
    margin: 0 auto;
}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one .photo-1:hover{
    cursor: pointer;
    color: rgb(23,181,254);
}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one span{
    overflow: hidden;
    width: 8em;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
}
.middle .box .navigation-carousel-person .carousel .li-content .you-like .photo .photo-one span:hover{
    cursor: pointer;
    color: rgb(23,181,254);
}
.middle .box .navigation-carousel-person .carousel{
    flex: 3;
}
.middle .box .navigation-carousel-person .carousel #rotation-chart{
    height: 100% !important;
    width: 100% !important;
    padding: 1em;
    box-sizing: border-box;
}
.middle .box .navigation-carousel-person .carousel #rotation-chart #carousel-photo-1{
    background: url("../img/carousel/carousel1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .carousel #rotation-chart #carousel-photo-2{
    background: url("../img/carousel/carousel2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .carousel #rotation-chart #carousel-photo-3{
    background: url("../img/carousel/carousel3.jpg");
    background-repeat: no-repeat;

    background-size: 100% 90%;
    background-position: center;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .carousel #rotation-chart #carousel-photo-4{
    background: url("../img/carousel/carousel4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .carousel #rotation-chart #carousel-photo-5{
    background: url("../img/carousel/carousel5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .person{
    flex: 1.5;
    display: flex;
    flex-direction: column;
}
.middle .box .navigation-carousel-person .person .person-person{
    flex: 4;
    display: flex;
    flex-direction: column;
}
.middle .box .navigation-carousel-person .person .person-person .head-portrait{
    flex: 4;
}
.middle .box .navigation-carousel-person .person .person-person .head-portrait .photo{
    height: 80%;
    width: 26%;
    margin: 0.5em auto;
    background: url(../img/E.png);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .person .person-person .person-name{
    flex: 1;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .person .person-person .order{
    flex: 3;
    display: flex;
}
.middle .box .navigation-carousel-person .person .person-person .order div{
    flex: 1;
    text-align: center;
    padding-top: 0.5em;
    cursor: pointer;
}
.middle .box .navigation-carousel-person .person .person-person .order div div{
    font-weight: bold;
    color: rgb(23,181,254);
    font-size: 1.2em;
}
.middle .box .navigation-carousel-person .person .person-report{

    background: rgb(222,238,253);
    color: rgb(23,181,254);
    text-align: center;
    line-height: 2em;
    box-sizing: border-box;

}
.middle .box .navigation-carousel-person .person a{
}
.middle .box .navigation-carousel-person .person .teb{
    flex: 3;
}
.middle .box .navigation-carousel-person .person .cooperation{
    flex: 2;
    padding: 1em;
}
.middle .box .navigation-carousel-person .person .cooperation .title{
    line-height: 2em;
}
.middle .box .navigation-carousel-person .person .cooperation span {
    font-weight: bold;
}
.middle .box .navigation-carousel-person .person .cooperation .more{
    float: right;
}
.middle .box .navigation-carousel-person .person .cooperation .more:hover{
    color: rgb(23,181,254);
    cursor: pointer;
}
.middle .box .navigation-carousel-person .person .cooperation .more span{
    font-weight: normal;
    font-size: 0.9em;
}
.middle .box .navigation-carousel-person .person .cooperation .app-logo{
    display: flex;
    height: calc(100% - 1em);
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}
.middle .box .navigation-carousel-person .person .cooperation .app-logo .app-logo-one{
    flex: 1;
    background-repeat: no-repeat!important;
    background-size: 90% 96%!important;
    background-position: center!important;
    cursor: pointer!important;
}
.middle .box .navigation-carousel-person .person .cooperation .app-logo #app-logo-1{
    background: url("../img/app/app1.png");

}
.middle .box .navigation-carousel-person .person .cooperation .app-logo #app-logo-2{
    background: url("../img/app/app2.png");

}
.middle .box .navigation-carousel-person .person .cooperation .app-logo #app-logo-3{
    background: url("../img/app/app3.png");

}
.middle .box .navigation-carousel-person .person .cooperation .app-logo #app-logo-4{
    background: url("../img/app/app4.png");

}
.middle .box .navigation-carousel-person .person .cooperation .app-logo #app-logo-5{
    background: url("../img/app/app5.png");

}
.middle .box .box-bottom{
    height: 5em;
}
.middle .middle-botto{
    height: 10em;
}
.layui-tab-brief>.layui-tab-title .layui-this{
    color: rgb(23,181,254)!important;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom: 3px solid rgb(23,181,254) !important;
}
.layui-tab-title li{
    min-width: 0px!important;
    width: 12%;
}
.layui-tab{
    padding-left: 1em;
    padding-right: 1em;
}
.layui-tab-content span{
    display: inline-block;
    margin-top: 0.5em;
    overflow: hidden;
    max-width: 18em;
    white-space: nowrap;
}
.layui-tab-content .layui-tab-item :hover{
    color: rgb(23,181,254);
    cursor: pointer;
}
.iframe-middle{
    width: 100%;
    height: calc(100% - 3em);
}