*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}
.head{
    flex: 1;
    display: flex;
}
.head .log{
    background: url("../img/ebuy-logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    -moz-background-size: 80% 80%;
    background-position: center;
    height: 100%;
    width: 10%;
    margin-left: 8%;
    cursor: pointer;
}
.head .login-msg{
    text-align: center;
    width: 880px;
    background-color: #fef2f2;
    color: #6C6C6C;
    line-height: 16px;
    padding: 6px 10px;
    overflow: hidden;
    background: #fef2f2;
    border: 1px solid #ffb4a8;
    font-size: 0.8em;
    height: 1em;
    margin: auto;
    margin-left: 40px;
}
.head .login-msg error .error{
    float: none;
    width: auto;
}
.middle{
    flex: 8;
    background: url(../img/bg4.jpg) no-repeat;
    background-size:100% 100%;
    width: 100%;
    height: 90%;
}
.middle .login-box{
    margin-top: 10%;
    margin-left: 65%;
    width: 20%;
    height: 40%;
    background: #FFF3E6;
    padding: 1em;
}
.middle .login-box .login-title{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #3c3c3c;
    margin-top: 14px;

    font-weight: 700;
    margin-left: 18px;
}
.middle .login-box .form .userName{
    height: 2.5em;
    width: 90%;
    background: white;
    margin: 0 auto;
    margin-top: 2em;
}
.middle .login-box .form .userName .ico1{
    background-color: #ddd;
    width: 40px;
    float: left;
    height: 100%;
    background-image:url("../img/person.png");
    background-repeat:no-repeat;
    background-size:80% 80%;
    -moz-background-size:80% 80%;
    background-position: center;
}
.middle .login-box .form .passWord .ico2{
    background-color: #ddd;
    width: 40px;
    float: left;
    height: 100%;
    background-image:url("../img/password.png");
    background-repeat:no-repeat;
    background-size:80% 80%;
    -moz-background-size:80% 80%;
    background-position: center;
}
.middle .login-box .form .input1{
    padding: 9px 10px 9px 10px;
    height: 50%;
    width: calc(100% - 62px);
    background: white;
    border: 1px solid #ddd;
}
.middle .login-box .form .passWord{
    height: 2.5em;
    width: 90%;
    background: white;
    margin: 0 auto;
    margin-top: 2em;
}
.middle .login-box .form .login-btu{
    height: 3em;
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    letter-spacing: 15px;
    border: 0;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 42px;
    font-weight: 700;
    color: #fff;
    background: rgb(80,206,194);
    border-radius: 3px;
    cursor: pointer;
    zoom: 1;
}
.middle .login-box .function{
    color: #6C6C6C;
    margin-top: 2em;
    display: flex;
    font-size: 0.8em;
    width: 60%;
    float: right;
}
.middle .login-box .function .forget-password{
    cursor:pointer;
    flex: 1;
}
.middle .login-box .function .register{
    cursor:pointer;
    flex: 1;
}
.bottom{
    flex: 1;
}