<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" rel="external nofollow" />
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/commodity.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <script src="../../static/layui/layui.all.js"></script>

</head>
<body>
    <div class="middle">
        <div class="box">
            <div class="search">
                <div class="search-log">
                    <div class="log"></div>
                </div>
                <div class="search-box">
                    <div class="search-box-box">
                        <input type="text" class="search-box-input" placeholder="请输入搜索的宝贝">
                        <div class="search-text">搜索</div>
                    </div>
                </div>
                <div class="search-blank"></div>
            </div>
            <div class="strip"></div>
            <div class="commodity-list">
                <!--<div class="commodity">
                    <div class="business-name">
                        <input type="checkbox" class="checkbox">
                        <span>店铺：</span>
                        <span class="name selection-text">CEDY潮牌店</span>
                        <span class="gray-font">山东-济南</span>
                        <span class="gray-font">25人付款</span>
                    </div>
                    <div class="one-commodity">
                        <div class="check">
                            <input type="checkbox" class="checkbox">
                        </div>
                        <div class="commodity-info">
                            <img src="../../static/img/commodity/lingshi01.jpg"/>
                            <div class="commodity-name selection-text">
                                ins嘻哈国潮棉服oversize宽松大毛领连帽中长款男女情侣棉衣外套
                            </div>
                        </div>
                        <div class="commodity-attribute">
                                <span>颜色：</span>
                                <div class="attribute">
                                    <select name="">
                                        <option value="" selected="">请选择</option>
                                        <option value="0">米白色（现货）</option>
                                        <option value="1">黑色</option>
                                        <option value="2">红色</option>
                                    </select>
                                 </div>
                                &lt;!&ndash;<span>米白色（现货）</span>&ndash;&gt;
                                &lt;!&ndash;<span>黑色</span>&ndash;&gt;
                                &lt;!&ndash;<span>红色</span>&ndash;&gt;


                                <span>尺码：</span>
                            <div class="attribute">
                                <select name="">
                                    <option value="" selected="">请选择</option>
                                    <option value="0">S</option>
                                    <option value="1">M</option>
                                    <option value="2">L</option>
                                    <option value="3">XL</option>
                                </select>
                            </div>

                        </div>
                        <div class="commodity-price">
                            <span>￥268.00</span>
                            <div class="commodity-amount">
                                <div class="amount-box">
                                    <div class="subtraction arithmetic hand-shape">-</div>
                                    <input type="text" id="amount" value="1">
                                    <div class="addition arithmetic hand-shape">+</div>
                                </div>
                            </div>
                            <span>(库存100件)</span>
                        </div>
                        <div class="commodity-describe">
                            <p>品牌： HSTYLE/韩都衣舍</p>
                            <p>适用年龄： 18-24周岁</p>
                            <p>尺码： S M L</p>
                            <p>风格： 通勤</p>
                            <p>通勤： 韩版</p>
                            <p>颜色分类： 红色 橘粉色</p>
                            <p>面料材质： 棉</p>
                            <p>袖型： 常规</p>
                            <p>组合形式： 单件</p>
                            <p>货号： EK9165</p>
                            <p>成分含量： 71%(含)-80%(含)</p>
                            <p>年份季节： 2019年秋季</p>
                            <p>袖长： 长袖</p>
                            <p>款式： 套头</p>
                            <p>厚薄： 加绒</p>
                            <p>衣长： 常规</p>
                            <p>服装版型： 宽松</p>
                        </div>
                        <div class="operation">
                            <p class="selection-text">加入购物车</p>
                            <p class="selection-text">立即购买</p>
                            <p class="selection-text">收藏宝贝</p>
                            <p class="selection-text">举报</p>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="box-bottom"></div>
        </div>


        <div class="middle-botto">

    </div>
</div>
</body>
<script src="../../static/js/jquery-1.12.2.js"></script>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/commodity.js"></script>
</html>