<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-BUY - 买你想买</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" rel="external nofollow" />
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <script src="../../static/layui/layui.all.js"></script>
</head>
<body>
<div class="head">
    <div class="content">
        <div class="not-login-information">
            <div class="login-text"><a href="/ebuy/login">亲,请登录</a></div>
            <div class="register-text"><a href="/ebuy/register">免费注册</a></div>
        </div>
        <div class="login-information">
            <div class="login-text">
                <span class="login-text-username"></span>
                <i id="icon1" class="layui-icon layui-icon-triangle-d"></i>
                <div class="personInfo">
                    <div class="function">
                        <div class="account-management">账户管理</div>
                        <div class="sign-out">退出</div>
                    </div>
                    <div class="info">
                        <div class="head-portrait"></div>
                        <div class="grade">
                            <div class="ebuy-grade">BUY能量:222</div>
                            <div class="membership-level">普通会员</div>
                        </div>
                        <div class="more-equity">查看你的专属权益</div>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news-photo"></div>
                <span>消息</span>
                <span class="news-number">3</span>
                <i id="icon2" class="layui-icon layui-icon-triangle-d"></i>
                <div class="news-content">
                    <div class="one-news">
                        双12活动来临!
                    </div>
                    <div class="one-news">
                        速备年货!
                    </div>
                    <div class="one-news">
                        除夕全家福!
                    </div>
                </div>
            </div>
        </div>
        <div class="goHomepage">
            E-BUY首页
        </div>
        <div class="function">
            <div class="cart">
                <a >
                    <div class="cart-photo"></div>
                    购物车
                    <span class="cart-number"></span>
                </a>
                <i id="icon3" class="layui-icon layui-icon-triangle-d"></i>
                <div class="cart-content">
                    <span>最近加入的宝贝：</span>
                    <div class="commodity">
                        <div class="one-commodity">
                            <div class="commodity-photo"></div>
                            <div class="commodity-name">电水壶家用大容量自动断电保温一体电热水壶茶壶不锈钢电壶烧水壶</div>
                            <div class="price-delete">
                                <div class="commodity-price">￥220.0</div>
                                <div class="commodity-delete">删除</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <span class="cart-bottom-text">购物车里还有21件宝贝</span>
                    <br>
                    <button class="cart-but">查看我的购物车</button>
                </div>
            </div>
            <div class="collection">
                <i id="icon6" class="layui-icon layui-icon-rate"></i>
                <a >收藏夹 </a>
                <!--<i id="icon4" class="layui-icon layui-icon-triangle-d"></i>-->
            </div>
            <div class="set-up-shop">
                <div class="shop-photo"></div>
                <a >免费开店 </a>
            </div>
            <div class="business">
                <div class="shop-photo"></div>
                <a >我的店铺 </a>

            </div>

            <div class="service">
                <div class="service-photo"></div>
                <a >联系客服 </a></div>
        </div>
    </div>
</div>
<iframe src="/ebuy/middle" class="iframe-middle" scrolling="no" frameborder="0"></iframe>
</body>
<script src="../../static/js/jquery-1.12.2.js"></script>
<script src="../../static/js/index.js"></script>
<script src="../../static/layui/layui.js"></script>
</html>