<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-BUY - 买你想买</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" rel="external nofollow" />
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <script src="../../static/layui/layui.all.js"></script>

</head>
<body>
    <div class="middle">
        <div class="box">
            <div class="search">
                <div class="search-log">
                    <div class="log"></div>
                </div>
                <div class="search-box">
                    <div class="search-box-box">
                        <input type="text" class="search-box-input" placeholder="请输入搜索的宝贝">
                        <div class="search-text">搜索</div>
                    </div>
                </div>
                <div class="search-blank"></div>
            </div>
            <div class="strip">
                <div class="left">
                    <span>主题市场</span>
                </div>
                <div class="right"></div>
            </div>
            <div class="navigation-carousel-person">
                <div class="navigation">
                    <ul>
                        <li>
                            <a href="">女装</a> / <a href="">男装</a> / <a href="">内衣</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">鞋靴</a> / <a href="">箱包</a> / <a href="">配件配饰</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">童装玩具</a> / <a href="">孕产用品</a> / <a href="">奶粉</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">美妆</a> / <a href="">洗护</a> / <a href="">保健品</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">手表</a> / <a href="">户外</a> / <a href="">乐器</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">游戏</a> / <a href="">动漫</a> / <a href="">影视</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">美食</a> / <a href="">生鲜</a> / <a href="">零食</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">家电</a> / <a href="">数码</a> / <a href="">手机</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">家具</a> / <a href="">布艺软饰</a> / <a href="">床上用品</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                        <li>
                            <a href="">百货</a> / <a href="">餐厨</a> / <a href="">学习</a><i class="layui-icon layui-icon-right"></i>

                        </li>
                    </ul>
                </div>
                <div class="carousel">
                    <div class="layui-carousel" id="rotation-chart">
                        <div carousel-item>
                            <div id="carousel-photo-1" class="carousel-photo"></div>
                            <div id="carousel-photo-2" class="carousel-photo"></div>
                            <div id="carousel-photo-3" class="carousel-photo"></div>
                            <div id="carousel-photo-4" class="carousel-photo"></div>
                            <div id="carousel-photo-5" class="carousel-photo"></div>
                        </div>
                    </div>
                    <div id="li-1" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                            <div class="photo">
                                <div class="photo-one">
                                    <div class="photo-1">
                                    </div>
                                    <span>AngelFields公主风睡裙纯棉宫廷睡衣全棉复古连衣裙家居服</span>
                                </div>
                                <div class="photo-one">
                                    <div class="photo-one">
                                        <div class="photo-1">
                                        </div>
                                        <span>AngelFields公主风睡裙纯棉宫廷睡衣全棉复古连衣裙家居服</span>
                                    </div>
                                </div>
                                <div class="photo-one">
                                    <div class="photo-one">
                                        <div class="photo-1">
                                        </div>
                                        <span>AngelFields公主风睡裙纯棉宫廷睡衣全棉复古连衣裙家居服</span>
                                    </div>
                                </div>
                                <div class="photo-one">
                                    <div class="photo-one">
                                        <div class="photo-1">
                                        </div>
                                        <span>AngelFields公主风睡裙纯棉宫廷睡衣全棉复古连衣裙家居服</span>
                                    </div>
                                </div>
                                <div class="photo-one">
                                    <div class="photo-one">
                                        <div class="photo-1">
                                        </div>
                                        <span>AngelFields公主风睡裙纯棉宫廷睡衣全棉复古连衣裙家居服</span>
                                    </div>
                                </div>
                                <div class="photo-one">
                                    <div class="photo-one">
                                        <div class="photo-1">
                                        </div>
                                        <span>AngelFields公主风睡裙纯棉宫廷睡衣全棉复古连衣裙家居服</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="li-2" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                    <div id="li-3" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                    <div id="li-4" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                    <div id="li-5" class="li-content">
                        <div class="three-type">
                        <div class="type-1"></div>
                        <div class="type-1"></div>
                        <div class="type-1"></div>
                    </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div></div>
                    <div id="li-6" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                    <div id="li-7" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                    <div id="li-8" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                    <div id="li-9" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                    <div id="li-10" class="li-content">
                        <div class="three-type">
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                            <div class="type-1"></div>
                        </div>
                        <div class="you-like">
                            <sqan>猜你喜欢</sqan>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="person-person">
                        <div class="head-portrait">
                            <div class="photo"></div>
                        </div>
                        <div class="person-name">
                            <span>帅气的娃哈哈</span>
                        </div>
                        <div class="order">
                            <div class="receiving">
                                <div class="receiving-num">0</div>
                                <span>待收货</span>
                            </div>
                            <div class="deliver">
                                <div class="deliver-num">0</div>
                                <span>待发货</span>
                            </div>
                            <div class="payment">
                                <div class="payment-num">0</div>
                                <span>待付款</span>
                            </div>
                            <div class="evaluate">
                                <div class="evaluate-num">0</div>
                                <span>待评价</span>
                            </div>
                        </div>
                    </div>
                    <a href="http://report.12377.cn:13225/toreportinputNormal_anis.do?spm=a21bo.2017.0.0.5af911d9fVA7oD&file=toreportinputNormal_anis.do" target="view_window">
                        <div class="person-report">
                            <span>网上有害信息举报专区</span>
                            <i class="layui-icon layui-icon-triangle-r"></i>
                        </div>
                    </a>
                    <div class="teb">
                        <div class="layui-tab layui-tab-brief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">公告</li>
                                <li>规则</li>
                                <li>论坛</li>
                                <li>安全</li>
                                <li>公益</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <span>E-BUY造物节之城市秘密</span><br>
                                    <span>聚划算88红包省钱卡</span>
                                </div>
                                <div class="layui-tab-item">
                                    <span>新增《E-BUY网汽配行业管理规范》公示通知</span><br>
                                    <span>《E-BUY网区域零售服务说明》变更公示通知</span>
                                </div>
                                <div class="layui-tab-item">
                                    <span>E-BUY1212大促招商</span><br>
                                    <span>在线职业培训</span>
                                </div>
                                <div class="layui-tab-item">
                                    <span>魔豆妈妈公益项目</span><br>
                                    <span>让母爱永不打烊！</span>
                                </div>
                                <div class="layui-tab-item">
                                    <span>E-BUY公益平台正式更名</span><br>
                                    <span>益起来商家招募即将截</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cooperation">
                        <div class="title">
                            <span>合作APP</span>
                            <div class="more">
                                <span>更多</span>
                                <i class="layui-icon layui-icon-right"></i>
                            </div>
                        </div>
                        <div class="app-logo">
                            <div id="app-logo-1" class="app-logo-one"></div>
                            <div id="app-logo-2" class="app-logo-one"></div>
                            <div id="app-logo-3" class="app-logo-one"></div>
                            <div id="app-logo-4" class="app-logo-one"></div>
                            <div id="app-logo-5" class="app-logo-one"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>


        <div class="middle-botto">

        </div>
    </div>
    <div class="bottom">

    </div>
</body>

<script src="../../static/js/jquery-1.12.2.js"></script>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/index.js"></script>
<script src="../../static/js/middle.js"></script>
</html>